@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --blue: #4263EB;
    --purple: #7048E8;
    --pink: #F784AD;
    --black: #212429;
    --gray1: #F8F9FA;
    --gray2: #DDE2E5;
    --gray3: #ACB5BD;
    --gray4: #495057;

    --primary: var(--blue);
    --secondary: var(--purple);
    --alternate: var(--white);

    --error: #F03D3E;
    --success: #374FC7;
    --notification: #D84910;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, p, small {
    font-family: 'Inter', sans-serif;
}